* {
  margin: 0;
  padding: 0;
}

.container {
  height: 322px;
  width: 322px;
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.square {
  height: 19px;
  width: 19px;
  border: 1px solid;
}

/* .square:hover {
  background-color: blue;
} */
